*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F5F6;
    font-family: 'DINPro-Bold', sans-serif;
    color: #1A1A1A;
}

.navbar-wrapper{
    position: relative;
}

.section-wrapper{
    padding: 128px 48px;
}

h1{
    font-size: 2.25rem;
    color: #1A1A1A;
    margin: 0;
    text-align: center;
}

p{
    font-family: 'DINPro-Medium', sans-serif;
    font-size: 0.95rem;
    opacity: 0.85;
}

.form-floating{
    width: 60%;
}

.form-floating input{
    font-size: 0.85rem;
    font-family: 'DINPro-Medium', sans-serif;
}

.form-floating label{
    font-size: 0.85rem;
    font-family: 'DINPro-Medium', sans-serif;
    opacity: .85;
}

.black-btn{
    height: 60px;
    padding: 17.2px 40px;
    background-color: rgba(26, 26, 26, 1);
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 0.95rem;
    transition: all 0.25s ease;
}

.black-btn:hover{
    background-color: rgba(26, 26, 26, .85);
    transition: all 0.25s ease;
}

.black-btn:disabled{
    background-color: rgba(26, 26, 26, 0.5);
    transition: all 0.25s ease;
}

#changePasswordWarning{
    display: none;
    align-items: center;
    gap: 11px;
    color: #E74C3C;
    font-size: 0.95rem;
    font-family: 'DINPro-Medium', sans-serif;
}