*{
    box-sizing: border-box;
}

body{
    background-color: #F3F5F6;
    font-family: 'DINPro-Bold', sans-serif;
}

.navbar-wrapper{
    position: relative;
}

.product-detail-wrapper{
    padding: 48px;
}

.image-holder{
    overflow: hidden;
    border: 10px;
}

.image-holder img{
    object-fit: cover;
    width: 100%;
}

.product-detail{
    font-family: 'DINPro-Medium', sans-serif;
    color: #1A1A1A;
    font-size: 1rem;
}

.product-category{
    display: block;
    font-family: 'DINPro-Medium', sans-serif;
    color: #1A1A1A;
    font-size: 0.95rem;
    opacity: .7;
    text-decoration: none;
    transition: all 0.25s ease;
}

.product-category:hover{
    opacity: .9;
    transition: all 0.25s ease;
}

.product-name{
    font-family: 'DINPro-Bold', sans-serif;
    color: #1A1A1A;
    font-size: 2.25rem;
    line-height: 1.15;
}

.product-price{ 
    color: #E74C3C;
    font-size: 1.25rem;
}

.stock-warning{
    color: #E74C3C;
}

.quantity-selector .quantity-tag{
    font-family: 'DINPro-Medium', sans-serif;
    color: #1A1A1A;
    opacity: .7;
}

.quantity-btn-group{
    height: 50px;
    width: 150px;
    overflow: hidden;
    border-radius: 25px;
    border: solid rgba(26, 26, 26, .38);
    border-width: 1.5px;
    background: none;
}

.quantity-btn-group .minus-btn{
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-btn-group .plus-btn{
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-btn-group .quantity{
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    text-align: center;
}

.quantity-btn-group .quantity:focus-visible{
    outline: none;
}

.product-detail .add-btn{
        width: 100%;
        height: 60px;
        background-color: rgba(254, 216, 47, 1);
        font-family: 'DINPro-Bold', sans-serif;
        color: #FFFFFF;
        border: none;
        border-radius: 30px;
        transition: all 0.25s ease;
}

.product-detail .add-btn:hover{
    background-color: rgba(254, 216, 47, .85);
    transition: all 0.25s ease;
}

.share-btn{
    border: none;
    background: none;
    opacity: .7;
    transition: all 0.25s ease;
}

.share-btn:hover{
    opacity: 1;
    transition: all 0.25s ease;
}

.section-wrapper{
    padding: 0 48px 96px;
}

.heading .heading-title{
    color: #1A1A1A;
    font-size: 2.25rem;
}

.heading .view-all-link{
    text-decoration: none;
}

.heading .view-all-text{
    font-family: 'DINPro-Medium', sans-serif;
    color: #1A1A1A;
    font-size: 1rem;
    opacity: .9;
}

.review-wrapper{
    padding: 0 25% 96px;
}

details{
    background-color: #C73063;
    color: #FFFFFF;
    width: 50%;
    transition: all 0.25s ease;
    border-radius: 9999px;
}

details:hover{
    background-color: rgb(197, 48, 98, .8);
    transition: all 0.25s ease;
}

.details-content{
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(4px);
    border-style: solid;
    border-width: 0;
    border-color: rgba(26, 26, 26, .12);
    border-block-start-width: 1px;
    border-block-end-width: 1px;
    padding: 0;
}

details[open] + .details-content{
    max-height: 800px;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
    padding: 2rem 0;
}

summary{
    user-select: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#reviewForm h1{
    font-size: 1.5rem;
    color: #1A1A1A;
}

#reviewForm .form-floating{
    width: 90%;
}

#reviewForm input, textarea{
    font-size: 0.85rem;
    color: #1A1A1A;
    font-family: 'DINPro-Medium', sans-serif;
}

#reviewForm textarea{
    height: 10rem;
}

#reviewForm label{
    font-size: 0.85rem;
    color: #1A1A1A;
    font-family: 'DINPro-Medium', sans-serif;
    opacity: .85;
}

.pink-btn{
    background-color: #C73063;
    color: #FFFFFF;
    width: 30%;
    border: none;
    border-radius: 9999px;
    padding: 1rem;
    transition: all 0.25s ease;
}

.pink-btn:hover{
    background-color: rgb(197, 48, 98, .8);
    transition: all 0.25s ease;
}

.user-review-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.review-content{
    width: 100%;
    border-style: solid;
    border-width: 0;
    border-color: rgba(26, 26, 26, .12);
    border-block-end-width: 1px;
    padding: 1.25rem 1rem
}

.review-content .review-content-name{
    font-size: 1rem;
    color: #1A1A1A;
}

.review-content .review-content-name::before{
    content: "✒️";
    padding-inline-end: 0.5rem;
}

.review-content p{
    font-size: 0.85rem;
    color: #1A1A1A;
    font-family: 'DINPro-Medium', sans-serif;
    opacity: .85;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
}

.review-pagination{
    margin-top: 1.25rem;
    background: none;
    border-radius: 3.75rem;
    border-width: 1px;
    border-color: rgba(26, 26, 26, .12);
    border-style: solid;
    display: flex;
    justify-self: center;
    align-items: center;
}

.pagination-btn{
    background: none;
    border: none;
    padding: 0 1.25rem;
}

.disabled{
    pointer-events: none;
    opacity: .5;
}

.pagination-current{
    padding: 0.75rem 0.5rem;
    font-family: 'DINPro-Medium', sans-serif;
    opacity: 0.8;
}

@media (max-width: 992px){
    .heading{
        flex-direction: column;
        align-items: start;
    }
    .heading-title{
        display: block;
    }
}

@media (max-width: 768px){
    .product-detail-wrapper{
        padding: 0 20px 48px;
    }
    .section-wrapper{
        padding: 0 20px 48px;
    }
    .heading .heading-title{
        font-size: 1.5rem;
    }
    .heading .view-all-text{
        font-size: 0.9rem
    }
}